.hero-container {
  margin-top: 5em;
  background-color: var(--button-default-background-color-1);
}
.teach-text {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--background-color-2);
}
.hero-image.extra-radius {
  border-radius: var(--radius-default);
  width: 100%;
}
