.hero-container {
  margin-top: 7em;
  background-image: url("/images/hero-image.jpg");
  background-size: cover;
  object-fit: cover;
  padding-bottom: 40.57%;
  position: relative;
}
.hero-image {
  height: 100vh;
  width: auto;
}
.hero-overlay-text {
  position: absolute;
  top: 60%;
  left: 7%;
  transform: translateY(-50%);
}
.break-h1 {
  display: block;
}
.hero-overlay-paragraph {
  margin-top: 1em;
}
.exhibition-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--button-default-background-color);
}
.exhibition-div1 {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider {
  border-radius: 0.313em;
  background-color: var(--background-color-1);
  width: 37.5em;
  height: 18em;
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin-top: 1em;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 15em;
  flex-shrink: 0;
}
.exhibition-images {
  width: 12em;
  height: 15em;
  border-radius: 0.313em;
}

.exhibition-images-span {
  font-size: 1.3em;
  color: white;
  position: absolute;
  font-weight: 500;
  padding: 0 1em 0.5em;
}
.explore-together {
  background-color: var(--background-color-1);
  padding: 2em;
}
.explore-paragraph {
  margin: 1em;
}
.science-for-everyone {
  background-color: var(--background-color-1);
  padding: 2em;
}
.science-wrapper {
  gap: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.s-image {
  width: 28em;
  height: auto;
  float: right;
  border-radius: 5px;
}
.science-text {
  display: flex;
  flex-direction: column;
  text-align: start;
}
