.hero-wrapper {
  padding: 0 1em 2em 1em;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image {
  width: 40em;
}
.hero-overlay-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.break-h1 {
  display: block;
}
.hero-overlay-paragraph {
  margin-top: 1em;
}
.exhibition-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #e8f2fb;
}
.exhibition-div1 {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider {
  border-radius: var(--radius-default);
  background-color: var(--background-color-1);
  width: 45em;
  height: 18em;
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin-top: 1em;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slide {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 15em;
  flex-shrink: 0;
}
.exhibition-images {
  width: 12em;
  height: 15em;
  border-radius: var(--radius-default);
}
.exhibition-images-span {
  font-size: 1.3em;
  color: white;
  position: absolute;
  font-weight: 500;
  padding: 0 1em 0.5em;
}
.explore-together {
  background-color: #ffffff;
  padding: 2em;
}
.explore-paragraph {
  margin: 1em;
}
.science-for-everyone {
  background-color: #ffffff;
  padding-top: 2em;
  border-radius: var(--radius-default);
}
.science-wrapper {
  border: 1px solid var(--background-color-1);
  border-radius: var(--radius-default);
  gap: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
}
.science-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-image {
  width: 30em;
  height: auto;
  float: right;
  border-radius: var(--radius-default);
}
.s-image:hover,
.s-image:active {
  scale: 1;
  transition: 0.7s;
}
.event-wrapper {
  background-color: var(--background-color-2);
}
.science-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 1em;
  background-color: var(--background-color-2);
  border-radius: var(--radius-default);
}
.event-wrapper {
  padding: 2em;
}
.event-cart {
  margin-top: 1em;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: var(--radius-default);
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-1);
  gap: 1.3em;
}
.cart-1 {
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.event-image {
  height: 25em;
  object-fit: cover;
  border-radius: var(--radius-default);
}
.cart-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
