@media (max-width: 810px) {
  .s-image {
    scale: 0.9;
  }
  h1 {
    font-size: 1.7em;
  }
  .btn-cta {
    padding: 0.8em 2.2em;
    font-size: 1em;
  }
}
@media (max-width: 755px) {
  nav ul li a {
    font-size: 0.8em;
    padding: 0.4em 0.3em;
  }
  h2 {
    font-size: 1.2em;
  }
  .exhibition-images {
    width: 10em;
    height: 13em;
  }
  .science-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .science-wrapper.order div:first-child {
    order: 1;
  }
  .slider {
    width: 80% !important;
  }
  h3 {
    text-align: center;
  }
  .hero-wrapper {
    display: block !important;
  }
  .hero-overlay-text {
    order: 1;
  }
  .hero-image {
    scale: 0.9;
  }
}
@media (max-width: 640px) {
  ul {
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    height: 15em;
    background-color: var(--background-color-1);
    top: 3.3em;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1 !important;
  }
  .menu-icon {
    display: block;
  }
  nav ul li {
    display: block;
  }
  a:hover,
  a.active {
    border-radius: var(--radius-default);
    background-color: var(--hover-color);
    transition: 0.5s;
    color: var(--background-color-1);
  }
  #menu-checkbox:checked ~ ul {
    left: 0;
  }
  .hero-image {
    scale: 0.7;
  }
}
@media (max-width: 500px) {
  .slider {
    width: 70% !important;
  }
  .s-image {
    scale: 0.7;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 1em;
  }
}
