@media (max-width: 1280px) {
  .exhibition-images {
    height: 15em;
  }
}

@media (max-width: 940px) {
  h1 {
    font-size: 1.8em;
  }
}
@media (max-width: 750px) {
  nav ul li a {
    font-size: 0.8em;
    padding: 0.4em 0.3em;
  }
  .btn-cta {
    font-size: 0.7em;
  }
  h2 {
    font-size: 1.2em;
  }
}
@media (max-width: 620px) {
  h1 {
    font-size: 1.2em;
  }
  .hero-overlay-paragraph {
    font-size: 0.6em;
  }
  ul {
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    height: 25em;
    background-color: #0d4979;
    top: 4em;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1 !important;
  }
  .menu-icon {
    display: block;
  }
  nav ul li {
    display: block;
  }
  a:hover,
  a.active {
    background: none;
    color: #75bfe7;
  }
  #menu-checkbox:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 500px) {
  .hero-overlay-paragraph {
    font-size: 0.4em;
  }
  .btn-cta {
    font-size: 0.6em;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 1em;
  }
}
