@media (max-width: 935px) {
  .event-image {
    width: 100%;
  }
  h1 {
    font-size: 1.7em;
  }
}
@media (max-width: 810px) {
  .p-visit {
    left: 24%;
    font-size: 1.1em;
  }
  .btn-cta {
    padding: 0.8em 2.2em;
    font-size: 1em;
  }
  .hero-wrapper {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  .text-overlay,
  .hero-div {
    width: 100%;
  }
  h1 {
    padding-top: 0;
  }
  .footer-2,
  .footer-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: max-content;
  }
}
@media (max-width: 757px) {
  .p-visit {
    left: 12%;
  }
  .info-box {
    width: 18em;
  }
  .grid-container {
    display: block;
  }
  #sidebar {
    background-color: var(--background-color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .side-1,
  .side-1.extra-margin {
    margin: 0;
  }
  .content1,
  .content2,
  .content3,
  .content4,
  .content5,
  .content6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  .nav-link {
    font-size: 0.8em;
    padding: 0.4em 0.3em;
  }
  h2 {
    font-size: 1.2em;
  }
  .exhibition-images {
    width: 10em;
    height: 13em;
  }
  .science-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .science-wrapper.order div:first-child {
    order: 1;
  }
  .science-text {
    width: 100%;
  }
  .slider {
    width: 85% !important;
  }
  h3 {
    text-align: center;
  }
  .text-overlay {
    margin-top: 1em;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .event-image {
    width: 100%;
  }
}

@media (max-width: 641px) {
  .h3-events {
    font-size: 1.2em;
  }
  .event-cart {
    flex-direction: column;
    align-items: center;
  }
  .cart-1,
  .cart-2 {
    width: 100%;
  }
  ul {
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    height: 15em;
    background-color: var(--background-color-1);
    top: 3.3em;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1 !important;
  }
  .menu-icon {
    display: block;
  }
  nav ul li {
    display: block;
  }
  .nav-link:hover,
  .nav-link.active {
    border-radius: var(--radius-default);
    background-color: var(--hover-color);
    transition: 0.5s;
    color: var(--background-color-1);
  }
  #menu-checkbox:checked ~ ul {
    left: 0;
  }
  .hero-image {
    scale: 0.85;
  }
  .input-box {
    height: 60px;
    font-size: 0.9em;
  }
  #logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-2,
  .footer-4 {
    grid-template-columns: 1fr;
  }
  .footer-container {
    padding: 1em 1em 1em 2em;
  }
}
@media (max-width: 500px) {
  .event-cart {
    padding: 1em 0 2em 0 !important;
  }
  #logo {
    width: 10em;
  }
  .k-image {
    width: 22em;
  }
}
@media (max-width: 420px) {
  .input-visit.teachers-,
  .input-visit.bigger.teachers-,
  .btn-visit.teachers- {
    width: 23em;
  }
  .h1-paragraph {
    font-size: 1.05em;
  }
  .input-box {
    height: 50px;
    font-size: 0.8em;
  }
  .k-image {
    width: 20em;
  }
  .input-visit,
  .btn-visit {
    width: 23em;
  }
}
@media (max-width: 370px) {
  .k-image {
    width: 18em;
  }
}
