* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --background-color-1: #010440;
  --background-color-2: #e2eaff;
  --hover-color: #e2eaff;
  --active-color: #e2eaff;
  --headings-color: #1f1410;
  --paragraph-color: #474747;
  --heading-family: "Alegreya Sans", sans-serif;
  --paragraph-family: "Arimo", sans-serif;
  --button-default-background-color: #f26f63;
  --button-default-background-color-2: #fcb0b2;
  --button-default-color: #8cb2fd;
  --radius-default: 2em;
}
img {
  max-width: 100%;
}
body {
  font-family: "Alegreya Sans", "Arimo", sans-serif;
}
#logo {
  margin: 1em 0 1em 1.5em;
  width: 13em;
  height: auto;
}
nav {
  background-color: var(--background-color-1);
  height: 5em;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1 !important;
}
nav ul {
  float: right;
  margin-right: 1em;
}
nav ul li {
  display: inline-block;
  margin: 2em 1em;
}
.nav-link {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding: 0.4em 0.7em;
  border-radius: 0.2em;
  text-transform: uppercase;
}
.nav-link.active,
.nav-link:hover {
  border-radius: var(--radius-default);
  background-color: var(--hover-color);
  transition: 0.5s;
  color: var(--background-color-1);
}
.menu-icon {
  font-size: 2.5em;
  float: right;
  margin: 0.2em 0.5em;
  cursor: pointer;
  display: none;
  color: white;
}
#menu-checkbox {
  display: none;
}
.nav-link.link-padding {
  background-color: var(--button-default-background-color);
  border-radius: var(--radius-default);
  color: var(--background-color-1);
}
.search-bar {
  margin-top: 4.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-box {
  position: relative;
  height: 76px;
  max-width: 900px;
  width: 100%;
  background: var(--background-color-2);
  margin: 0 20px;
  border-radius: var(--radius-default);
}
input::placeholder {
  color: var(--background-color-1);
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
  border: none;
}
.btn-search {
  position: absolute;
  font-size: 1em;
  font-weight: 400;
  color: var(--background-color-1);
  border: none;
  padding: 0.8em 1em;
  border-radius: var(--radius-default);
  background-color: var(--button-default-color);
}
.btn-search:active,
.btn-search:hover {
  background-color: var(--hover-color);
  transition: 0.5s;
}
.search-icon {
  font-size: 1.2em;
  position: absolute;
  left: 1.5em;
  top: 34%;
  color: var(--background-color-1);
}
.input-box .btn-search {
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.cosmos-icon {
  margin-bottom: 0.3em;
  display: block;
  font-size: 2.5em;
  padding: 0.3em;
  border-radius: 50%;
  background-color: var(--button-default-background-color);
}
.visit-icon {
  font-size: 2em;
}
h1 {
  padding-top: 1em;
  font-size: 2em;
  color: var(--background-color-1);
}
.h1-extra-margin {
  margin-bottom: 0.5em;
}
.break-h1 {
  display: block;
}
.h1-p-visit {
  font-size: 1.1em;
}
h2 {
  color: var(--background-color-1);
  font-weight: 600;
  text-transform: uppercase;
}
.h2-color {
  font-size: 1.2em;
  margin: 0.7em;
  text-transform: none;
  text-align: center;
}
.h1-paragraph {
  font-size: 1.2em;
  font-family: var(--button-default-background-color);
  font-weight: 500;
  padding-top: 0.6em;
}
.h2-paragraph {
  font-size: 1.2em;
  font-family: var(--button-default-background-color);
  font-weight: 500;
  font-style: italic;
}
.p-h2 {
  text-align: center;
  line-height: 1.3;
}
h3 {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}
.h3-events {
  color: white;
  font-size: 1.5em;
}
.h3-events.p-color {
  color: black;
}
.p-h3.p-color {
  color: black;
}
.h3-visit {
  font-size: 1.3em;
  text-transform: none;
}
.p-kids {
  padding: 1em;
}
.p-h3 {
  color: white;
  margin: 1em;
}
.p-h3.bigger {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  font-weight: 600;
}
.p-link {
  color: white;
  text-decoration: none !important;
  margin-top: 2em;
}
.p-link.link-color {
  color: var(--background-color-1);
  font-size: 1.1em;
}
.p-link:hover,
.p-link:active {
  color: var(--background-color-2);
}
h4 {
  margin-bottom: 0.5em;
}
.btn-cta {
  font-size: 1em;
  font-weight: 600;
  width: max-content;
  padding: 1em;
  border-radius: var(--radius-default);
  background-color: var(--button-default-background-color);
  border: 0;
  color: var(--background-color-1);
}
.btn-big {
  margin-top: 1.2em;
}
.btn-cta.btn-big.cta-color {
  background-color: var(--background-color-1);
  color: white;
  font-weight: 500;
}
.btn-cta.btn-big.cta-color:hover,
.btn-cta.btn-big.cta-color:active {
  background-color: var(--background-color-2);
  color: var(--background-color-1);
}
.btn-kids {
  padding: 1em 3em;
  border-radius: var(--radius-default);
  border-style: none;
  background-color: var(--background-color-2);
  color: var(--background-color-1);
  text-transform: uppercase;
}
.btn-kids:hover,
.btn-kids:active {
  background-color: var(--background-color-1);
  color: white;
  transition: 0.7s;
}
.btn-cta:active,
.btn-cta:hover {
  background-color: var(--hover-color);
  transition: 0.5s;
}
.footer-container {
  background-color: var(--background-color-1);
  color: white;
  font-weight: 300;
  padding: 1em 3em 1em 3em;
}
#logo-footer {
  width: 11em;
  height: auto;
  padding-left: 1em;
}
.footer-2,
.footer-4 {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
hr {
  margin: 1em;
}
.btn-footer {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--background-color-1);
  border: none;
  padding: 0.3em 1em;
  border-radius: var(--radius-default);
  background-color: var(--button-default-background-color);
}
.btn-footer:active,
.btn-footer:hover {
  background-color: var(--hover-color);
  transition: 0.5s;
}
.input-footer {
  background: var(--background-color-2);
  padding: 0.3em 1em;
  border-radius: var(--radius-default);
  box-shadow: o 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
}
.input-footer:hover,
.input-footer:active {
  outline: none;
}
.input-footer,
.btn-footer {
  margin-top: 1em;
  height: 2.3em;
}
.footer-icon {
  font-size: 1.5em;
  padding: 0.3em 0.7em 0 0;
}
.science-for-everyone {
  padding-top: 2em;
  border-radius: var(--radius-default);
}
.science-wrapper {
  border: 2px solid var(--background-color-2);
  border-radius: var(--radius-default);
  gap: 0.5em;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: 1em;
}
.science-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-image {
  width: 30em;
  height: auto;
  float: right;
  border-radius: var(--radius-default);
}
.s-image:hover,
.s-image:active {
  scale: 1.01;
  transition: 0.5s;
}
.science-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 1em;
  width: 50%;
}
.exhibition-div1 {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-wrapper {
  padding: 0 1em 2em 1em;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image {
  width: 100%;
}
.hero-overlay-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.break-h1 {
  display: block;
}
.hero-overlay-paragraph {
  margin-top: 1em;
}
.event-wrapper {
  padding: 2em;
}
.event-cart {
  margin-top: 1em;
  padding: 1em;
  border-radius: var(--radius-default);
  background-color: #432a88;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px dashed black;
  gap: 1em;
}
.event-cart.red-color {
  background-color: var(--button-default-background-color);
}
.cart-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-image {
  object-fit: cover;
  width: 65%;
  border-radius: var(--radius-default);
}
.event-image:hover,
.event-image:active {
  scale: 1.03;
  transition: 0.5s;
}
