* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Alegreya Sans", sans-serif;
}
#logo {
  margin: 0.5em 2em;
  width: 9em;
  height: auto;
}
nav {
  background-color: white;
  height: 4.8em;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 1em;
}
nav ul li {
  display: inline-block;
  margin: 1.8em 0.9em;
}
nav ul li a {
  color: black;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
  text-transform: uppercase;
}
a.active,
a:hover {
  color: #75bfe7;
  transition: 0.5s;
}
.menu-icon {
  font-size: 2.5em;
  float: right;
  margin: 0.2em 0.5em;
  cursor: pointer;
  display: none;
}
#menu-checkbox {
  display: none;
}
