:root {
  --background-color-1: #75bfe7;
  --background-color-2: rgba(141, 141, 141, 0.572);
  --hover-color: #75bfe7;
  --active-color: #75bfe7;
  --headings-color: #1f1410;
  --paragraph-color: #474747;
  --heading-family: "Alegreya Sans", sans-serif;
  --paragraph-family: "Arimo", sans-serif;
  --button-default-background-color: #0d4979;
  --button-default-color: white;
  --radius-default: 2em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Alegreya Sans", "Arimo", sans-serif;
}
#logo {
  margin: 1em 2em 1em;
  width: 9em;
  height: auto;
}
nav {
  background-color: var(--button-default-background-color);
  height: 5.3em;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 1em;
}
nav ul li {
  display: inline-block;
  margin: 2em 0.9em;
}
nav ul li a {
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
  text-transform: uppercase;
}
a.active,
a:hover {
  color: var(--hover-color);
  transition: 0.5s;
}
.menu-icon {
  font-size: 2.5em;
  float: right;
  margin: 0.2em 0.5em;
  cursor: pointer;
  display: none;
}
#menu-checkbox {
  display: none;
}
h1 {
  font-size: 2.3em;
}
.btn-cta {
  font-size: 1.1em;
  padding: 0.8em 2.5em;
  border-radius: var(--radius-default);
  background-color: var(--button-default-background-color);
  border: 0;
  color: var(--button-default-color);
}
.btn-big {
  margin-top: 1.2em;
}
.btn-cta:active,
.btn-cta:hover {
  background-color: var(--hover-color);
  transition: 0.5s;
}
