.visit-image-hero {
  object-fit: cover;
  height: 18em;
  margin: 0.5em 1em 0em 1em;
}
.visit-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visit-wrapper,
.extra-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-box {
  margin: 4.9em 1em 0em 1em;
  height: 4em;
  max-width: 50em;
  width: 100%;
  background: var(--background-color-2);
  border-radius: var(--radius-default);
  position: relative;
}
.p-visit {
  color: var(--button-default-background-color-1);
  font-size: 1.2em;
  position: absolute;
  top: 28%;
  left: 40%;
  font-weight: 600;
  text-align: center;
}
.event-icon {
  position: absolute;
  font-size: 1.8em;
  font-weight: 700;
  top: 23%;
  left: 32%;
}
.grid-container {
  display: grid;
  height: 100vh;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.7fr 0.7fr 0.7fr 0.2fr;
  grid-template-areas:
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "sidebar contact-us contact-us contact-us"
    "footer footer footer footer";
}
.main {
  grid-area: main;
  margin-bottom: 2em;
}
#sidebar {
  border: 1px solid var(--background-color-2);
  background-color: white;
  grid-area: sidebar;
}
.side-1 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-1.extra-margin {
  margin-top: 6em;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content1 {
  grid-area: content1;
}
.content4 {
  grid-area: content4;
}
.content5 {
  grid-area: content5;
}
.content6 {
  grid-area: content6;
}

#contact-us {
  grid-area: contact-us;
  background-color: var(--background-color-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.input-visit {
  margin: 0.5em;
  padding: 1em;
  border-radius: var(--radius-default);
  border-style: none;
}
.input-visit.bigger {
  height: 7em;
}
.btn-visit {
  padding: 1em;
  background-color: var(--button-default-background-color-2);
  border-radius: var(--radius-default);
  border-style: none;
  text-transform: uppercase;
}
#footer {
  grid-area: footer;
}
.image-grid {
  object-fit: cover;
  width: 100%;
  height: 15em;
  border-radius: var(--radius-default);
}
.image-grid:hover,
.image-grid:active {
  scale: 1.02;
}
