.visit-image-hero {
  object-fit: cover;
  width: 100%;
  margin: 0.5em 1em 0em 1em;
}
.visit-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visit-wrapper,
.extra-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-box {
  margin: 0 1em 0em 1em;
  height: 3em;
  max-width: 40em;
  width: 100%;
  background: var(--background-color-2);
  border-radius: var(--radius-default);
  position: relative;
}
.p-visit {
  color: var(--button-default-background-color-1);
  font-size: 1.2em;
  position: absolute;
  top: 28%;
  left: 30%;
  font-weight: 600;
  text-align: center;
}
.grid-container {
  display: grid;
  height: 100vh;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.7fr 0.7fr 0.7fr 0.5fr;
  grid-template-areas:
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "sidebar contact-us contact-us contact-us"
    "footer footer footer footer";
}
footer {
  grid-area: footer;
}
.main {
  grid-area: main;
  margin: 4em 0em 1em 0em;
  padding: 1em 3em 1em 3em;
}
#sidebar {
  border: 1px solid var(--background-color-2);
  background-color: var(--button-default-background-color-2);
  grid-area: sidebar;
  width: 100%;
}
.side-1 {
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-1.extra-margin {
  margin-top: 6em;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content1 {
  grid-area: content1;
}
.content4 {
  grid-area: content4;
}
.content5 {
  grid-area: content5;
}
.content6 {
  grid-area: content6;
}

#contact-us {
  margin-top: 2em;
  grid-area: contact-us;
  background-color: var(--background-color-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 1em 0;
  width: 100%;
}
.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.btn-visit,
.input-visit {
  color: var(--paragraph-color);
  width: 28em;
  margin: 0.5em;
  padding: 1em;
  border-radius: var(--radius-default);
  border-style: none;
}
.input-visit.bigger {
  padding: 1em 0 7em 1em;
}
.btn-visit {
  background-color: var(--button-default-background-color-2);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--button-default-background-color-1);
}
.btn-visit:hover,
.btn-visit:active {
  background-color: var(--button-default-background-color);
}
.image-grid {
  object-fit: cover;
  width: 100%;

  border-radius: var(--radius-default);
}
.image-grid:hover,
.image-grid:active {
  scale: 1.02;
  transition: 0.7s;
}
